<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @attachment.image %>
</p>

<p>
  <strong>Post:</strong>
  <%= @attachment.post %>
</p>
<p>
  <%= @post.score %>
  <%= link_to "upvote", like_post_path(@post), method: :put %>
  <%= link_to "downvote", dislike_post_path(@post), method: :put %>
</p>
<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
